---
import StackComponent from '../components/Stack.astro';
import { Navbar } from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Navbar client:load currentPage="stack" />
	<div class="mt-28">
		<StackComponent />
	</div>
</Layout>
