---
export const prerender = false;
import Experience from '../components/Experience.astro';
import { Navbar } from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Navbar client:load currentPage="work" />
	<div class="mt-20">
		<Experience />
	</div>
</Layout>
